body {
    font-family: sans-serif;
 
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

 .container {
                max-width: 800px;
                margin: 0 auto;
                color: #212527;
                padding-top: 50;
                padding-right: 20;
                padding-left: 20;
            }
                